<main class="w-4/5 m-auto mt-10">
  <section class="w-full flex items-center justify-between">
    <h2 class="text-[36px] text-blue-medio">Estudiantes</h2>
    <div class="flex gap-9">
      <div class="w-[548px] relative">
        <input
          type="text"
          placeholder="Nombre del estudiante..."
          class="w-[548px] h-full border-2 border-blue-white p-1 pl-3 rounded-xl placeholder:p-1 placeholder:text-primary-color outline-none text-primary-color"
        />
        <div
          class="absolute bg-blue-white w-[80px] h-full rounded-xl right-0 top-0 flex items-center justify-center"
        >
          <img
            class="hover:cursor-pointer"
            src="assets/icons8-search-book-48 1.png"
            alt="search"
          />
        </div>
      </div>
      <button
        class="flex items-center justify-center gap-[5px] w-auto bg-primary-color text-blue-white font-bold p-1 pr-2 pl-2 rounded-[10px] border border-blue-medio hover:bg-white hover:text-primary-color"
        (click)="openModal()"
      >
        Registrar Alumno
        <img class="" src="/assets/studentsAdd.png" alt="add" />
      </button>
      <a routerLink="/dashboard">
        <button
          class="flex items-center justify-center w-[150px] h-full bg-primary-color text-blue-white font-bold p-1 rounded-[10px] hover:bg-white hover:border hover:border-blue-medio hover:text-primary-color"
        >
          Volver
          <img src="/assets/return.png" alt="" />
        </button>
      </a>
    </div>
  </section>
  @if(students$ | async; as resultObject) { @if(resultObject.length > 0) {
  <section class="mt-10 w-full">
    <table class="w-full border-collapse">
      <thead class="">
        <tr
          class="flex justify-between items-center text-blue-strong pr-5 pl-5"
        >
          <th class="">ID</th>
          <th class="">Nombre</th>
          <th class="">Matricula</th>
          <th class="">Telefono</th>
          <th class="">Direccion</th>
          <th class="">Prestamos actuales</th>
          <th class="">Acciones</th>
        </tr>
      </thead>
      <tbody class="flex flex-col gap-[20px] mt-10">
        @for(student of resultObject; track student.id) {
        <tr
          class="w-full border-2 border-blue-white rounded-lg p-5 flex items-center text-primary-color"
        >
          <td class="mr-[115px]">{{ student.id }}</td>
          <td class="text-nowrap mr-[110px]">
            {{ student.name }} {{ student.lastname }}
          </td>
          <td class="mr-[170px]">{{ student.enrollmentNumber }}</td>
          <td class="mr-[100px]">{{ student.phone }}</td>
          <td class="mr-[115px] w-[17%] text-wrap">
            {{ student.address }}
          </td>
          <td class="mr-[190px]">{{ student.countLoans }}</td>
          <td class="flex gap-4">
            <button
              (click)="deleteStudent(student.id)"
              class="hover:cursor-pointer p-2"
            >
              <img
                ngSrc="assets/delete.png"
                alt="delete"
                height="75"
                width="75"
              />
            </button>
            <button (click)="updateStudent(student)" class="hover:cursor-pointer p-2">
              <img ngSrc="assets/edit.png" alt="edit" height="75" width="75" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>
  } }
  <app-modal [showModal]="showModal" [student]="student" (close)="closeModal()" />
</main>
