<main class="w-4/5 m-auto mt-10">
  <section class="w-full flex items-center justify-between">
    <h2 class="text-[36px] text-blue-medio">Estudiantes</h2>
    <div class="w-full flex justify-end items-center gap-9">
      @if(students && students.length > 0) {
      <div class="w-[35%] relative">
        <input
          type="text"
          placeholder="Nombre del estudiante..."
          class="w-full h-full border-2 border-blue-white p-1 pl-3 rounded-xl placeholder:p-1 placeholder:text-primary-color outline-none text-primary-color"
          [(ngModel)]="studentNameText"
        />
        <div
          class="absolute bg-blue-white w-[80px] h-full rounded-xl right-0 top-0 flex items-center justify-center"
        >
          <img
            class="hover:cursor-pointer"
            src="assets/icons8-search-book-48 1.png"
            alt="search"
          />
        </div>
      </div>
      }
      <button
        class="flex items-center justify-center gap-[5px] w-auto bg-primary-color text-blue-white font-bold p-1 pr-2 pl-2 rounded-[10px] hover:outline hover:outline-2 hover:outline-blue-white hover:bg-white hover:text-primary-color"
        (click)="openModal()"
      >
        Registrar Alumno
        <img class="" src="/assets/studentsAdd.png" alt="add" />
      </button>
      <a routerLink="/dashboard">
        <button
          class="flex items-center justify-center w-[150px] h-full bg-primary-color pt-2 pb-2 text-blue-white font-bold p-1 rounded-[10px] hover:bg-white hover:border-2 hover:border-blue-white hover:text-primary-color"
        >
          Volver
          <img src="/assets/return.png" alt="" />
        </button>
      </a>
    </div>
  </section>
  @if(students && students.length > 0) {
  <section class="mt-10 w-full">
    <app-table-students
      Fade
      [durationAnimation]="0.5"
      (studentToUpdate)="updateStudent($event)"
      (updateStudents)="loadStudents()"
      [students]="filterStudentsByName()"
    />
  </section>
  }
  <app-modal
    [showModal]="showModal"
    [student]="student"
    (close)="closeModal()"
    (updateStudents)="loadStudents()"
  />
</main>
