<main class="flex items-center justify-between">
  <section class="flex flex-col w-1/2">
    <div class="text-start m-auto w-1/2">
      <h3 class="text-blue-medio text-[48px] font-extrabold">Universidad</h3>
      <h2 class="text-blue-medio-strong text-[37px] font-bold">
        Aplicacion de biblioteca
      </h2>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      action=""
      class="flex flex-col mt-[120px] gap-5 w-1/2 m-auto"
    >
      <div class="w-full">
        <input
          type="text"
          placeholder="Correo"
          class="w-full border-b-2 border-b-blue-strong placeholder:text-blue-medio text-sm outline-none text-blue-medio font-bold p-1 mb-2"
          formControlName="email"
        />
        @if(email.hasError('required') && email.touched) {
          <p class="text-red-600 p-0 m-0">
            El campo email es requerido.
          </p>
        }
      </div>
      <div class="w-full">
        <input
          type="password"
          placeholder="Contraseña"
          class="w-full border-b-2 border-blue-strong placeholder:text-blue-medio text-sm outline-none text-blue-medio font-bold p-1 mb-2"
          formControlName="password"
        />
        @if(password.hasError('required') && password.touched) {
          <p class="text-red-600 p-0 m-0">
            El campo contraseña es requerido.
          </p>
        }
      </div>
      <button
        type="submit"
        class="bg-blue-medio-strong text-blue-white font-extrabold p-2 rounded-lg hover:bg-blue-medio hover:cursor-pointer"
        [disabled]="!loginForm.valid"
      >
        Ingresar
      </button>
      <p class="text-blue-medio hover:cursor-pointer">
        ¿Olvidaste tu contraseña?
      </p>
    </form>
  </section>
  <section class="w-1/2 h-screen relative">
    <img [ngSrc]="imgUrl" alt="image" class="h-screen w-full" fill priority/>
  </section>
</main>
