<main class="flex items-center justify-between relative">
  <section class="flex flex-col w-1/2 relative">
    <div class="text-start m-auto w-1/2">
      <h3 class="text-blue-medio text-[48px] font-extrabold">Universidad</h3>
      <h2 class="text-blue-medio-strong text-[37px] font-bold">
        Aplicacion de biblioteca
      </h2>
    </div>

    <app-auth-form submitButtonText="Ingresar"/>
  </section>
  <section class="w-1/2 h-screen relative">
    <img [ngSrc]="imgUrl" alt="image" class="h-screen w-full" fill priority />
  </section>
  <a
    routerLink="/register"
    class="text-blue-medio-strong absolute text-[20px] font-extrabold bottom-3 right-[52%] flex gap-1"
    >Crear cuenta
    <img ngSrc="assets/arrow.png" alt="registro" height="30" width="25" />
  </a>
</main>
