@if(showModal) {
<section
  class="z-[1000] w-screen h-screen absolute top-0 left-0 bottom-0 right-0 m-auto flex items-center justify-center bg-gray-400 bg-opacity-50"
>
  <div
    class="w-[30%] h-auto bg-blue-strong flex flex-col items-center justify-end rounded-t-2xl pt-5"
  >
    <div class="mb-5">
      <img ngSrc="assets/book-icon.png" alt="book" height="100" width="100" />
    </div>

    <div class="w-full bg-white p-3 pt-8 pb-8 rounded-t-2xl">
      <form
        action=""
        class="w-[80%] m-auto flex flex-col items-center justify-center gap-8"
        [formGroup]="loansForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="w-full">
          <input
            class="w-full border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong bg-white"
            type="text"
            placeholder="Titulo del libro"
            matInput
            formControlName="title"
            [matAutocomplete]="autoBooks"
          />
          @if(loansForm.controls['title'].hasError('required') &&
          loansForm.controls['title'].touched) {
          <p class="text-red-500">El campo Titulo del libro es requerido.</p>
          }
        </div>
        <mat-autocomplete
          style="color: #097bc0"
          #autoBooks="matAutocomplete"
          (optionSelected)="onBookSelected($event)"
        >
          @for(book of filteredBooks | async; track book) {
          <mat-option [value]="book" style="color: #097bc0">
            {{ book.title }}
          </mat-option>
          }
        </mat-autocomplete>

        <div class="w-full">
          <input
            class="w-full border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
            type="text"
            placeholder="Nombre del estudiante"
            matInput
            formControlName="student"
            [matAutocomplete]="autoStudents"
          />
          @if(loansForm.controls['student'].hasError('required') &&
          loansForm.controls['student'].touched) {
          <p class="text-red-500">
            El campo Nombre del estudiante es requerido.
          </p>
          }
        </div>
        <mat-autocomplete
          style="color: #097bc0"
          #autoStudents="matAutocomplete"
          (optionSelected)="onStudentSelected($event)"
        >
          @for(student of filteredStudents | async; track student) {
          <mat-option [value]="student" style="color: #097bc0">
            {{ student.name }} {{ student.lastname }} -
            {{ student.enrollmentNumber }}
          </mat-option>
          }
        </mat-autocomplete>
        <div class="w-full flex flex-col gap-4">
          @if(studentErrorResponse) {
            <p class="text-red-500 p-0 m-0">
              {{errorMessageResponse}}
            </p>
          }
          <button
            class="w-full bg-blue-medio-strong text-white p-2 hover:cursor-pointer hover:bg-white hover:outline-1 hover:outline hover:outline-blue-medio-strong hover:text-blue-medio-strong"
            [disabled]="!loansForm.valid"
            type="submit"
          >
            Registrar prestamo
          </button>
          <button
            class="w-full border border-blue-medio-strong text-blue-medio-strong p-2 hover:bg-blue-medio-strong hover:text-white"
            type="button"
            (click)="hideModal()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
}
