<article
  class="w-[100%] h-min p-5 border-2 border-blue-white flex items-center justify-center rounded-2xl gap-5"
>
  <div class="flex items-center justify-center">
    <img src="assets/bookInventory.png" alt="book" />
  </div>
  <div class="w-[2px] h-[40px] bg-primary-color"></div>
  <div class="w-[50%] flex flex-col justify-center gap-2">
    <p
      class="text-blue-strong text-[16px] break-words whitespace-normal w-[90%]"
    >
      {{ book.title }}
    </p>
    <p class="text-blue-light">
      {{ book.author }}
    </p>
    <div class="flex text-blue-medio-strong gap-7">
      <p>En existencia: {{ book.quantity }}</p>
    </div>
    <div class="flex items-center justify-start gap-4">
      <button (click)="deleteBook(book.id)">
        <img ngSrc="assets/delete.png" alt="delete" height="30" width="30" />
      </button>
      <button (click)="bookEmitter(book)">
        <img ngSrc="assets/edit.png" alt="edit" height="30" width="30" />
      </button>
    </div>
  </div>
</article>
