@if(showModal) {
<section
  class="w-screen h-screen absolute top-0 left-0 bottom-0 right-0 m-auto flex items-center justify-center bg-gray-400 backdrop:blur-sm bg-opacity-50"
>
  <div class="w-[30%] h-auto bg-blue-strong flex flex-col items-center justify-end rounded-t-2xl pt-5">
    <div class="bg-blue-medio-strong border border-blue-strong rounded-[50%] p-5 flex items-center justify-center mb-5">
      <img src="assets/student-icon.png" alt="student">
    </div>
    <div class="w-full bg-white p-3 pt-8 pb-8 rounded-t-[20px]">
      <form
        action=""
        class="w-fit m-auto flex flex-col items-center justify-center gap-8"
        [formGroup]="studentForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex justify-between gap-5">
          <div>
            <input
              class="border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
              type="text"
              placeholder="Nombre"
              formControlName="name"
            />
            @if(studentForm.controls['name'].hasError('required') &&
            studentForm.controls['name'].touched) {
            <p class="text-red-500 text-[12px]">
              El campo nombre es requerido.
            </p>
            }
          </div>
          <div>
            <input
              class="border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
              type="text"
              placeholder="Apellidos"
              formControlName="lastname"
            />
            @if(studentForm.controls['lastname'].hasError('required') &&
            studentForm.controls['lastname'].touched) {
            <p class="text-red-500 text-[12px]">
              El campo apellidos es requerido.
            </p>
            }
          </div>
        </div>
        <div class="w-full">
          <input
            class="w-full border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
            type="email"
            placeholder="Correo electronico"
            formControlName="email"
          />
          @if(studentForm.controls['email'].hasError('required') &&
          studentForm.controls['email'].touched) {
          <p class="text-red-500 text-[12px]">El campo correo es requerido.</p>
          } @if(studentForm.controls['email'].hasError('email')) {
          <p class="text-red-500 text-[12px]">Formato de correo invalido.</p>
          }
        </div>
        <div class="flex justify-between gap-5">
          <div>
            <input
              class="border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
              type="text"
              placeholder="Telefono"
              formControlName="phone"
            />
            @if(studentForm.controls['phone'].hasError('required') &&
            studentForm.controls['phone'].touched) {
            <p class="text-red-500 text-[12px]">
              El campo telefono es requerido.
            </p>
            }
          </div>
          <div>
            <input
              class="border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
              type="text"
              placeholder="Matricula"
              formControlName="enrollmentNumber"
            />
            @if(studentForm.controls['enrollmentNumber'].hasError('required') &&
            studentForm.controls['enrollmentNumber'].touched) {
            <p class="text-red-500 text-[12px]">
              El campo matricula es requerido.
            </p>
            }
          </div>
        </div>
        <div class="w-full">
          <input
            class="w-full border-b-2 border-b-blue-strong outline-none text-blue-strong placeholder:text-blue-medio-strong"
            type="text"
            placeholder="Direccion"
            formControlName="address"
          />
          @if(studentForm.controls['address'].hasError('required') &&
          studentForm.controls['address'].touched) {
          <p class="text-red-500 text-[12px]">
            El campo matricula es requerido.
          </p>
          }
        </div>
        <div class="w-full flex flex-col gap-4">
          <button
            class="w-full bg-blue-medio-strong text-white p-2 hover:cursor-pointer hover:bg-white hover:outline-1 hover:outline hover:outline-blue-medio-strong hover:text-blue-medio-strong"
            type="submit"
            [disabled]="!studentForm.valid"
          >
            {{student ? 'Editar' : 'Registrar'}}
          </button>
          <button
            class="w-full border border-blue-medio-strong text-blue-medio-strong p-2 hover:bg-blue-medio-strong hover:text-white"
            type="button"
            (click)="hideModal()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
}
