<main class="w-[80%] m-auto mt-10 flex flex-col justify-center items-center">
  <section class="w-full flex items-center justify-between">
    <h2 class="text-[36px] text-blue-medio">Inventario</h2>
    <div class="flex gap-9">
      <div class="w-[548px] relative">
        <input
          type="text"
          placeholder="Titulo del libro.."
          class="w-[548px] border-2 border-blue-white p-1 pl-3 rounded-xl placeholder:p-1 placeholder:text-primary-color outline-none text-primary-color"
        />
        <div
          class="absolute bg-blue-white w-[80px] h-full rounded-xl right-0 top-0 flex items-center justify-center"
        >
          <img class="hover:cursor-pointer" [src]="searchButton" alt="search" />
        </div>
      </div>
      <button
        class="w-[150px] bg-primary-color text-blue-white font-bold p-1 rounded-[10px] hover:bg-white hover:border-2 hover:border-blue-white hover:text-primary-color ml-[124px]"
      >
        Añadir libro
      </button>
      <a routerLink="/dashboard">
        <button
          class="flex items-center justify-center w-[150px] h-full bg-primary-color text-blue-white font-bold p-1 rounded-[10px] hover:bg-white hover:border hover:border-blue-medio hover:text-primary-color"
        >
          Volver
          <img src="/assets/return.png" alt="" />
        </button>
      </a>
    </div>
  </section>
  <section
    class="w-full grid grid-cols-3 justify-center items-center gap-16 mt-11"
  >
    @for(card of listCardsInfo; track card.author) {
    <app-card-inventory
      [title]="card.title"
      [author]="card.author"
      [loans]="card.loans"
      [stock]="card.stock"
    />
    }
  </section>
</main>
