<main
  Fade
  [durationAnimation]="0.5"
  class="w-[80%] m-auto mt-10 flex flex-col justify-center items-center"
>
  <section class="w-full flex items-center justify-between">
    <h2 class="text-[36px] text-blue-medio">Mi cuenta</h2>
    <div class="flex gap-9">
      <a routerLink="/dashboard">
        <button
          class="flex items-center justify-center w-[150px] h-full bg-primary-color text-blue-white font-bold p-2 rounded-[10px] hover:bg-white hover:outline-2 hover:outline hover:outline-blue-white hover:text-primary-color"
        >
          Volver
          <img src="/assets/return.png" alt="" />
        </button>
      </a>
    </div>
  </section>
  <section class="w-[100%] mt-10 flex justify-between items-start">
    <div class="mb-10 w-[50%]">
      <p class="text-blue-strong text-[20px] font-bold mb-2">Mi informacion</p>
      <div>
        <form action="" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
          <div class="flex gap-3 mb-2">
            <div>
              <p>Correo</p>
              <input
                type="text"
                formControlName="email"
                class="border-b border-b-blue-strong outline-none"
              />
              @if(accountForm.controls['email'].hasError('required') && accountForm.controls['email'].touched) {
                <p class="text-red-500 text-[14px]">El campo es requerido.</p>
              }
              @if(accountForm.controls['email'].hasError('email')) {
                <p class="text-red-500 text-[14px]">El correo no es valido.</p>
              }
            </div>
            @if(canEditInfo) {
            <div>
              <p>Nueva contraseña</p>
              <input
                type="password"
                formControlName="newPassword"
                class="border-b border-b-blue-strong outline-none"
              />
              @if(accountForm.controls['newPassword'].hasError('required') && accountForm.controls['newPassword'].touched) {
                <p class="text-red-500 text-[14px]">El campo es requerido.</p>
              }
              @if(accountForm.controls['newPassword'].hasError('minlength')) {
                <p class="text-red-500 text-[14px]">minimo 8 caracteres.</p>
              }
            </div>
            <div>
              <p>Contraseña actual</p>
              <input
                type="password"
                formControlName="password"
                class="border-b border-b-blue-strong outline-none"
              />
              @if(accountForm.controls['password'].hasError('required') && accountForm.controls['password'].touched) {
                <p class="text-red-500 text-[14px]">El campo es requerido.</p>
              }
            </div>
            }
          </div>
          <button
            (click)="editInfo()"
            type="button"
            class="mr-3 bg-primary-color text-blue-white font-bold p-2 hover:bg-white hover:outline hover:outline-1 hover:outline-primary-color hover:text-blue-strong"
          >
            {{ textButton }}
          </button>
          @if(canEditInfo) {
          <button
            type="submit"
            [disabled]="!accountForm.valid"
            class="bg-primary-color text-blue-white font-bold p-2 hover:bg-white hover:outline hover:outline-1 hover:outline-primary-color hover:text-blue-strong"
          >
            Aceptar
          </button>
          }
        </form>
      </div>
    </div>
    <div class="w-[50%]">
      <p class="text-blue-strong text-[20px] font-bold mb-2">
        Historial de prestamos devueltos
      </p>
      @if(loansArray.length > 0) {
      <div class="flex flex-col">
        <label class="text-blue-strong text-[16px] font-bold mb-2" for="loanDate">Fecha</label>
        <div class="flex gap-2">
          <input class="border border-blue-strong" type="date" id="loanDate" [(ngModel)]="loanDate"/>
          <button
          (click)="searchLoanDate()"
            class=" bg-primary-color text-blue-white font-bold p-2 hover:bg-white hover:outline hover:outline-1 hover:outline-primary-color hover:text-blue-strong"
          >
            Buscar
          </button>
          <button
          (click)="clearLoansDate()"
            class=" bg-primary-color text-blue-white font-bold p-2 hover:bg-white hover:outline hover:outline-1 hover:outline-primary-color hover:text-blue-strong"
          >
            Reiniciar busqueda
          </button>
        </div>
        <div class="mt-7 w-[100%] h-[300px] overflow-y-auto">
          <table class="w-[100%] border-separate">
            <thead>
              <tr>
                <th class="border-collapse text-left text-blue-strong">
                  Titulo del libro
                </th>
                <th class="border-collapse text-left text-blue-strong">
                  Matricula alumno
                </th>
                <th class="border-collapse text-left text-blue-strong">
                  Fecha de prestamo
                </th>
                <th class="border-collapse text-left text-blue-strong">
                  Fecha de devolucion
                </th>
              </tr>
            </thead>
            <tbody>
              @for(loan of searchLoanDate(); track loan.id) {
              <tr>
                <td
                  class="border-collapse text-left text-blue-medio-strong font-bold"
                >
                  {{ loan.bookTitle }}
                </td>
                <td
                  class="border-collapse text-left text-blue-medio-strong font-bold"
                >
                  {{ loan.enrollmentNumber }}
                </td>
                <td
                  class="border-collapse text-left text-blue-medio-strong font-bold"
                >
                  {{ loan.startLoanDate }}
                </td>
                <td
                  class="border-collapse text-left text-blue-medio-strong font-bold"
                >
                  {{ loan.finishLoanDate }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      } @else {
      <p class="text-blue-strong text-[16px] font-bold mb-2">
        Aun no se ha devuelto algun prestamo.
      </p>
      } 
    </div>
  </section>
</main>
