<header class="w-4/5 flex items-center justify-between m-auto mt-16 flex-wrap">
  <h1 class="text-4xl text-primary-color">
    <a routerLink="/dashboard"> Sistema Bibliotecario </a>
  </h1>
  <div class="flex gap-[40px]">
    <button
      class="w-[150px] bg-primary-color text-blue-white font-bold p-1 rounded-[10px] hover:bg-white hover:border-2 hover:border-blue-white hover:text-primary-color"
    >
      <a routerLink="/dashboard/account">Mi cuenta</a>
    </button>
    <button
      (click)="logout()"
      class="w-[150px] bg-white border-2 border-blue-white text-primary-color font-bold rounded-[10px] p-1 hover:bg-primary-color hover:text-blue-white hover:border-primary-color"
    >
      Cerrar sesion
    </button>
  </div>
  <hr class="border border-blue-white w-full mt-9" />
</header>
@if(hideCards()) {
<main
  class="w-[80%] grid grid-repeat items-center justify-between gap-20 mt-10 m-auto"
>
  @for(info of listCardsInfo; track info.areaName) {
  <app-card Fade [durationAnimation]="0.5" [infoCard]="info" />
  }
</main>
}
<router-outlet></router-outlet>
