@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.grid-repeat {
    grid-template-columns: repeat(4, minmax(280px, 1fr));
}