<div class="w-full h-screen flex flex-col items-center justify-center">
  <img
  class="mt-[100px]"
    ngSrc="assets/error-image.png"
    alt="error-image"
    height="500"
    width="500"
  />
  <div class="mt-[50px] flex flex-col items-center justify-center text-center">
    <span class="text-[35px] text-blue-medio-strong text-center"
      >Servidor no disponible temporalmente, pruebe mas tarde.</span
    >
    <p class="text-[75px] text-blue-strong text-center font-extrabold">503</p>
  </div>
</div>
